body#map-layout {
    background-color: #f2f2f2;
}
table {
    width: 100%;
}
table.data {
    background-color: #FFFFFF;
}

td {
    padding: 5px;
    min-width: 50px;
    text-align: center;
}
td.text {
    text-align:left;
}
thead {
    background-color: #4F6EC2;
    color: #ffffff;
}
tr.deleted {
    background-color: #CCCCCC;
}
textarea {
    width: 100%;
    height: 75px;
}
textarea:disabled {
    background-color: #CCCCCC;
}
button {
    width: 150px;
}
body {
    font-family: 'Lato';
}

.small_button {
    width: 75px;
    height: 30px;
    padding: 0px !important;
}

.fa-btn {
    margin-right: 6px;
}
.toppadding25 {
    padding-top: 25px;
}
.form_cell_label {
    width: 25%;
    vertical-align: text-top;
    font-weight: bold;
}
.form_cell input[type="text"], .form_cell select,.form_cell textarea {
    width: 80%;
}
.form_cell input[type="checkbox"] {
    height: 18px;
    width: 18px;
}

input[readonly], input[disabled] {
    background-color: #DDDDDD;
}
.alert-danger {
    background-color: #f2dede !important;
}
.alert-save {
    background-color: #4F6EC2 !important;
    opacity: 0.5;
}
.tab_div {
    background-color: #F2F2F2 !important;
}
.sort_link {
    color: white;
}
.sort_link_active {
    color: yellow;
}

/* map css */
.search_results {
    height: 400px;
    float: left; 
    overflow: scroll; 
    background-color: #13224D;
}
.search_results_map {
    margin-top: 0px;
    width: 31%; 
}
.search_results_no_map {
    margin-top: 0px; 
    width: 100%; 
}
.selected_church_box {
    color: #ffffff;
    background-color: #506294 !important;
    padding: 5px; 
    border: 1px solid black; 
    width: 95%; 
    min-height: 55px; 
    text-align: center;
}
.selected_church_box a {
    color: #ffffff !important;
}
.church_box {
    color: #000000;
    background-color: #FFFFFF !important;
    padding: 5px; 
    border: 1px solid black; 
    width: 95%; 
    min-height: 55px; 
    text-align: center;
    margin: 5px;
}
.left_box {
    width: 49%;
    float: left;
    min-height: 180px;
    margin-right: 2px;
    margin-bottom: 0px;
}
.right_box {
    width: 49%;
    float: right;
    min-height: 180px;
    margin-left: 2px;
    margin-bottom: 0px;
}
div.detail_box {
    width: 100%; 
    padding-top: 15px; 
    padding-bottom: 15px;
    text-align: center;
}
div.blue, div.blue a {
    color: #ffffff;
    background-color: #506294;
}
div.blue a {
    text-decoration: underline;
}
div.grey {
    color: #000000;
    background-color: #f2f2f2;
}
.record-number {
    color: gray;
    font-style: italic;
    float: left;
    font-size: 11px;
}
.selected_church_box div.record-number {
    color: white;
}
.centered {
    text-align: center;
    width: 75%;
    margin-bottom: 15px;
}
